body {
     display: flex;
     box-sizing: border-box;
     margin: 5;
}
section {
     display: inline-block;
     
}

aside {
     background-image: url('./imagens/SL-103020-37400-12.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 200px;
     height: 470px;
     text-align: center;
     padding-top: 180px;
     margin: 0;
     box-shadow: 5px 0 5px 0 darkblue;
}

#selfie {
     border-radius: 150%;
     width: 150px;
     border: 4px solid blue;
}
#code{
     width: 200px;
     height: 150px;
     border: none;
}

ol {
     text-align: center;
     padding: 0;
     margin: 0;
}

ol > a{
     padding: 10px;
}

button{
     color: black;
     border: 0;
     cursor: pointer;
     border-radius: 3em;
     border: 3px solid darkblue;
     font-weight: bold;
     outline: none;
     padding: .25em 2em;
     position: relative;
     transform-style: preserve-3d;
     transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

     &::before {
     background-color: darkblue;
     border-radius: inherit;
     box-shadow: 0 0 0 2px rgba(darken, green, blue, alpha), 0 .6em 0 0 rgba darkblue, .6;
     content: '';
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     transform: translate3d(0, .75em, -1em);
     transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
     width: 100%;
  }

  &:hover {
    transform: translate(0, .25em);
    background-color: darkblue;
    color: white;

    &::before {
      box-shadow:
        0 0 0 2px darkcyan,
        0 .45em 0 0 rgba(darkblue, .8);
      transform: translate3d(0, .5em, -1em);
    }
  }

  &:active {
    background: darkcyan;
    transform: translate(0, .75em);

    &::before {
      box-shadow:
        0 0 0 3px darkcyan,
        0 0 darkblue;
      transform: translate3d(0, 0, -1em);
    }
  }
}


main {
     background-color: rgb(226, 229, 231);
     width: 900px;
     height: 470px;
     padding-top: 180px;
     margin-left: 5px;
     
}

#text {
     font-size: 50px;
     padding-left: 50px;
     margin: 0;
     

}

#end {
     padding-left: 50px;
     text-align: left;
}

#cor2 {
     color: blue;
}

#cor2 > a:hover {
     box-shadow: 5px 5px 5px 5px darkblue;

}

#icons {
    position: relative;
    padding-top: 30px;
    padding-left: 50px;
}

#icons > a {
     margin: 0 10px;
     border-radius: 50%;
     box-shadow: 5px 5px 5px 5px darkblue;
     background-attachment: fixed;
}

#icons > a:hover {
     box-shadow: 5px 5px 5px darkblue;

}



