body {
     display: flex;
     margin: 0;
     
}
section {
     width: auto;
     height: auto;
     
}

aside {
     background-image: url('./imagens/SL-103020-37400-12.jpg');
     background-size: cover;
     width: auto;
     height: 100vh;
     text-align: center;
}

#selfie {
     border-radius: 100%;
     width: 150px;
     border: 4px solid blue;
     margin-top: 40vh;
}

#code{
     width: auto;
     height: 25vh;
     border: none;
}

ol {
     text-align: center;
     padding: 0;
     margin: 0;
}

ol > a{
     padding: 10px;
}

button{
     color: black;
     cursor: pointer;
     border-radius: 3em;
     border: 3px solid darkblue;
     font-weight: bold;
     outline: none;
     padding: .25em 2em;
     position: relative;
     transform-style: preserve-3d;
     

     &::before {
     background-color: darkblue;
     height: auto;
     transform: translate3d(0, .55em, -1em);
     box-shadow: 2px 2px 2px darkblue;
  }

  &:hover {
    transform: translate(0, .15em);
    color: blue;
    box-shadow: 5px 5px 5px darkblue;
  

    
  }
  &:active {
     background-color: rgb(46, 105, 173);
     color: blue;
  }
}


main {
     background-color: rgb(226, 229, 231);
     width: auto;
     height: auto;
     
}

#text {
     font-size: 50px;
     padding-left: 50px;
     margin: 0;
     

}

#end {
     padding-left: 50px;
     text-align: left;
     
}

#end ~ p {
     font-size: 20px;
     padding-top: 60px;
}

#cor2 {
     color: blue;
}

#cor2 > a:hover {
     box-shadow: 5px 5px 5px 5px darkblue;

}

#icons {
    padding-top: 30px;
    padding-left: 50px;
    position: absolute;
}

#icons > a {
     margin: 0 10px;
     border-radius: 50%;
     box-shadow: 5px 5px 5px 5px darkblue;
}

#icons > a:hover {
     box-shadow: 5px 5px 5px darkblue;
     font-size: 20px;
}

#conhecimentos {
     font-size: large;
     text-align: left;
     margin: 50px;
     
     
}

#conhecimentos > li {
     margin-left: 30px;
}

.flexBox {
     display: flex;
     align-items: center;
     background-color: rgb(226, 229, 231);
     

}

.flexItem {
     background-color: rgb(226, 229, 231);
     padding: 0;
     width: auto;
     height: auto;
     margin-left: 10px;

}

#fig1 {
     width: 700px;
     height: auto;
     position: fixed;
     margin-left: 300px;
}

.flexItem > h2 {
     margin: 50px;
     width: auto;
}

#flexText {
     margin-left: 60px;
     font-size: large;
     width: auto;
}

#imgBrain {
     width: 300px ;
     margin-left: 700px;
     position: absolute;
}





